@import "@fontsource/montserrat/100.css";
@import "@fontsource/montserrat/200.css";
@import "@fontsource/montserrat/300.css";
@import "@fontsource/montserrat/400.css";
@import "@fontsource/montserrat/500.css";
@import "@fontsource/montserrat/600.css";
@import "@fontsource/montserrat/700.css";
@import "@fontsource/montserrat/800.css";
@import "@fontsource/montserrat/900.css";

@import "@fontsource/poppins/100.css";
@import "@fontsource/poppins/200.css";
@import "@fontsource/poppins/300.css";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";
@import "@fontsource/poppins/800.css";
@import "@fontsource/poppins/900.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply font-poppins;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-montserrat text-navy;
}
p,
span,
a,
label,
input,
button,
li {
  @apply font-poppins text-slate;
}
@layer {
  .transitional {
    @apply !transition !duration-200 !ease-in-out;
  }

  .transitional:hover,
  .transitional:active,
  .transitional:focus {
    @apply !transition !duration-200 !ease-in-out;
  }
}
.topBarLink {
  @apply text-xs font-semibold hover:text-sunrise transitional;
}
.navLink {
  position: relative;
}

.navLink::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  background: white;
  bottom: -160%;
  left: 0;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}

.navLink:hover::before {
  height: 30%;
  z-index: 10;
}
.navLinkActive::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 30%;
  background: white;
  bottom: -160%;
  left: 0;
  z-index: 10;
  transition: all 0.2s ease-in-out;
}
.homeHero {
  @apply bg-navy bg-opacity-70;
  background-image: url("/images/groupStudy.jpg");
  background-blend-mode: darken;
  background-size: cover;
}
.hero {
  @apply bg-navy bg-opacity-80;
  background-image: url("/images/groupStudy.jpg");
  background-blend-mode: darken;
  background-size: cover;
}
.btn {
  position: relative;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.btn span {
  @apply text-white;
}
.btn:hover span {
  @apply text-sunrise;
}
.btn::before {
  content: "";
  position: absolute;
  top: 200%;
  left: 0;
  width: 100%;
  height: 80%;
  background-color: white;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}
.btn:hover::before {
  top: 10%;
}
.btn2 {
  position: relative;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.btn2 span {
  @apply text-sunrise;
}
.btn2:hover span {
  @apply text-white;
}
.btn2::before {
  content: "";
  position: absolute;
  top: 200%;
  left: 0;
  width: 100%;
  height: 80%;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  @apply bg-sunrise;
}
.btn2:hover::before {
  top: 10%;
}
.resp3ColGrid {
  @apply grid grid-cols-1 sm:grid-cols-2 960px:grid-cols-3;
}
.respHeroHeadingWidth {
  @apply xl:w-[60%] lg:w-[70%] 960px:w-[80%] sm:w-[90%] w-full;
}
.respPx20 {
  @apply 960px:!px-20 sm:!px-10 xs:!px-5 !px-3;
}
.slideHero {
  @apply xs:py-[30vh] py-[40vh];
}
.successStories {
  background-image: url("/images/bookShelf.jpg");
  background-size: cover;
  background-blend-mode: darken;
  @apply bg-navy bg-opacity-70;
}
.playHoverItem {
  @apply bg-white  p-8 rounded-full scale-0  absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  transition: all 0.3s ease-in-out;
}
.playBtn:hover .playHoverItem {
  @apply scale-100;
}
.playIcon {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  transition: all 0.3s ease-in-out;
}
.playBtn:hover .playIcon {
  @apply z-30 text-sunrise;
}
.respPx10 {
  @apply sm:!px-10 xs:!px-5 !px-3;
}
/* .pagesLink:hover .pagesLinks {
  @apply top-[240%] !opacity-100 z-40;
} */
